<!------ Include the above in your HEAD tag ---------->

<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="/"><img src="megaBoutique-logo.png" height="100px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/create">Créer un produit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/addStocks">Recevoir des stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/removeStocks">Envoyer des stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Afficher les produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/delete">Retirer un produit</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if (!isLoggedIn) { %>
            <a class="nav-link" href="/login">Se connecter</a>
          <% } else { %> 
            <a class="nav-link" href="/logout">Se déconnecter</a>
          <% } %>
        </li>
      </ul>
    </div>
</div>