<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
  content="IE=edge">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Méga boutique</title>
</head>
<body>
  <%- include('layouts/header') -%>

  <% if (message.success.length > 0 ) { %>
    <div class="alert alert-success" role="alert">
      <%=message.success%>
    </div>
  <% } else if (message.err.length > 0) {%>
    <div class="alert alert-danger" role="alert">
      <%=message.err%>
    </div>
    <% } %>

  <h1>Système de gestion d'inventaire</h1>
  <h2>Nombre de produits: <%= totalItems %></h2>
</body>