<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
  content="IE=edge">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Méga boutique - Login</title>
</head>
<body style="height:100%">
  <%- include('./layouts/header') -%>

  <div class="d-flex align-items-center justify-content-lg-center" style="height: 80dvh;">
    <Form id="form-group" action="login" method="post" style="width: 30dvw;">
      <div class="form-group">
        <div class="col-sm-10 mb-5">
        <input class="form-control" name="username" id="username" placeholder="username"/>
      </div>
      <div class="col-sm-10 mb-5">
        <input class= "form-control" name="password" id="password" type="password" placeholder="password"/>
      </div>
      <div class="col-sm-10 text-right">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </Form>
</div>
  

</body>