<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
  content="IE=edge">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Méga boutique - Create product</title>
</head>
<body>
  <%- include('../layouts/header') -%>
  <% if (err.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= err %>
    </div>
  <% } %>
  

  <form class="form-group mx-sm-3 mb-2" id="NewProduct" action="/product/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="SKU">SKU</label>
        <div class="col-sm-4">
          <input class="form-control" name="SKU" id="SKU" type="text" placeholder="SKU" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="Name">Name</label>
        <div class="col-sm-4">
          <input class="form-control" name="Name" id="Name" type="text" placeholder="Product name" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="Price">Price</label>
        <div class="col-sm-4">
          <input class="form-control" name="Price" id="Price" type="number" step="0.01" min="0" placeholder="Product Price" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="Image">Image</label>
        <div class="col-sm-4">
          <input class="form-control-file" type="file" class="form-control" id="Image" name="Image" required>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </div>
    </div>
  </form>

</body>