<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
  content="IE=edge">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Méga boutique - products</title>
</head>
<body>
  <%- include('../layouts/header') -%>

  <form action="/products/search" method="POST">
    <input Name="Search"/>
    <button type="submit">recherche</button>
  </form>

  <div class="d-flex flex-wrap">
    <%for (var i = 0; i < products.length; i++) { %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= products[i].Image %>" alt="<%= products[i].Name %> photo">
        <div class="card-body">
          <h5 class="card-title"><%= products[i].Name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">SKU: <%= products[i].SKU %></h6>
          <h6 class="card-subtitle mb-2"><%= products[i].Price %>$</h6>
          <p class="card-text">qty: <%= products[i].Quantity %></p>
        </div>
      </div>
    <% } %>
  </div>
</body>